main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin-right: 0.1rem;
}

a,
a:link {
  list-style: none;
  color: blue !important;
}

li {
  font-size: 1.15rem;
}
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

td {
  width: 15vw;
  white-space: normal !important;
  word-wrap: break-word;
}
table {
  table-layout: fixed;
}

a.link2 {
  color: white !important;
  text-transform: lowercase;
  text-decoration: underline;
}

.break {
  white-space: normal !important;
  word-wrap: break-word;
}

a.foot,
a:link.foot,
.foot {
  color: purple !important;
  font-size: 1.25rem;
}

a.buttonn,
a:link.buttonn {
  color: white !important;
}

.red {
  background-color: rgba(238, 63, 57, 0.877) !important;
}

.green {
  background-color: rgb(12, 153, 54) !important;
}

.yellow {
  background-color: rgb(212, 164, 31) !important;
  /* background-color: black !important; */
}

.legends {
  padding: 1rem 2rem;
  color: white;
  font-size: 1.15rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.bgimp.card.bg-warning {
  background-color: rgb(212, 164, 31) !important;
}

div.hoverclass:hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.4s ease;
}

.cardfont {
  font-size: 1.2rem;
}
